{% extends "startapp/layout.html" %}
<!-- application.html과 같은 역할->layout.html 다른곳에서 쓰고 싶으면 상속을 받아와야 한다. -->

{% block title %}
    게시판
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Published date</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %} <!--post는 원하는 이름 posts는 자료구조 형태(가져왔다)-->
                <tr>
                    <th scope="row">{{post.id}}</th>
                    <td>{{post.author}}</td>
                    <td>
                        <a href="startapp/show/{{post.id}}">{{post.title}}</a>
                    </td>
                    <td>{{post.create_date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}